CREATE TABLE IF NOT EXISTS activity_logs (log_id SERIAL PRIMARY KEY,user_id character varying(50) REFERENCES userregistration(user_id),action_type character varying(50) NOT NULL,details text NOT NULL,timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP,vault_id character varying(50) REFERENCES vaulttable(vault_id) ON DELETE SET NULL,file_id character varying(50) REFERENCES filetable(file_id) ON DELETE SET NULL,ip_address inet,user_agent text);CREATE INDEX IF NOT EXISTS idx_activity_logs_user_id ON activity_logs(user_id);CREATE INDEX IF NOT EXISTS idx_activity_logs_timestamp ON activity_logs(timestamp);CREATE INDEX IF NOT EXISTS idx_activity_logs_action_type ON activity_logs(action_type);
